:root {
    --blue: #3882F6; 
    --leftRightPadding: 15%;
    --info-color: #1F2937;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    margin: 0px;
}

.dark-background {
    background-color: #1F2937;
}

button {
    padding: 0.10em 1.5em;
    width: fit-content;
    background-color: inherit;
    border: 2px solid inherit;
    font-size: 18px;
    font-weight: lighter;
    border-radius: 5px;
}

.header,
.footer,
.intro,
.main-info,
.quote,
.actionCall {
    padding: 0rem var(--leftRightPadding);
}


.hero-primary-color {
    color: #F9FAF8;
}

.hero-secondary-color { 
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
}

.header .logo {
    font-size: 24px;
}

.header a {
    font-size: 18px;
    color: inherit;
    text-decoration: none;
}

.header ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 1em;
}

.intro {
    display: flex;
    --padding: 6em;
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    gap: 3rem;
}

.intro .left {
    flex: 0 1 30%;
    display: flex;
    flex-direction: column;
}

.left .title {
    font-size: 48px;
    font-weight: 900;
    line-height: 1;
}

.intro img {
    flex: 1 1 auto;
    background-color: grey;
    color: white;
    text-align: center;

    max-height: 100%;
    max-width: 100%;
    object-fit: contain; 
}

.intro .sign-up-btn {
    background-color: var(--blue);
    border: 2px solid var(--blue);
    color: white;
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}

.main-info .title {
    font-size: 36px;
    font-weight: 900;
    color: var(--info-color);
    padding: 1em;
}

.main-info .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-info .image img {
    border: 3px solid var(--blue);
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.main-info .image p {
    max-width: 150px;
}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem; 
}